<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/main.css">
  <title>Document</title>
</head>
<body>
  <div class="container">
  <h1>{{act}} {{target}}</h1>
  </div>
  <div class="container">
   <img class="img-circle" src="{{targetPic}}" alt="{{target}}">
  </div>
  <div class="container">
{{#if completed}}<h2>Congratulations on completing your task</h2>{{/if}}
  </div>
  <div class="container">
{{#if caught}}<h2>Sorry you got caught</h2>{{/if}}
</div>
<div class="container">
    <p>How did completing this task affect your day?</p>
    <br>
</div>
<div class="container">
    <p class="blog"><textarea rows="4" cols="50"></textarea><br>
  </div>
<br>
<div class="container">
  <a href="/profile/{{id}}"><button>Generate new task</button></a>
</div>
</body>
</html>