<div class="users">
  <div class="main">
  <img class="img-circle" src="{{Pic}}" alt="{{Name}}">
  <h2 class="profileName">{{Name}}... {{tasks}} {{target}}</h2>
  <img class="img-circle" src="{{Pic}}" alt="{{Name}}">
  <p>Goodluck on your quest... Try to complete your task in secret</p>
  <form class="checkbox">
  <input type="checkbox" name="completed" value="completed"> Completed<br>
  <input type="checkbox" name="caught" value="Caught"> I got caught<br>
</form>
  </div>
    <div class="container">
    <p>How did completing this task affect your day?</p>
    <p class="blog">"<em> {{blog}} </em>" <br>
  </div>
<br>
  <button>Generate new task</button>
</div>