<div class="users">
  <img class="img-circle" src="{{Pic}}" alt="{{Name}}">
  <h2 class="profileName">{{Name}} {{tasks}} {{target}} 
  <img class="img-circle" src="{{Pic}}" alt="{{Name}}">
    <div class="container">
    <p class="feedback-box">"<em> {{feedback}} </em>" <br> - Sent by <strong>{{sender}}</strong></p>
  </div>
<br>
  <a class="askLink" href="/ask">Send Feedback</a>
</div>